uvicorn[standard]
fastapi
psycopg2-binary
xgboost
pandas
numpy
scikit-learn
joblib
pydantic
python-dotenv
python-multipart
requests
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
email-validator
opencv-python-headless
ultralytics
